.inputBox {
  display: flex;
}

.inputBox input, textarea {
  font-size: 1.5rem;
  outline: none;
  border-radius: 12px;
  padding: 1%;
}

.inputBox input:focus, textarea:focus {
  outline: none;
  border: 2px solid #00921b;
}

textarea {
  resize: none;
  height: 10rem;
  width: 40rem;
  font-size: 1.2rem;
  margin: 1rem 0;
}

.inputBox input[type="number"]::-webkit-inner-spin-button,
.inputBox input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  font-size: 1.2rem;
  padding: 0.5%;
}
