.teamMemberCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 25rem;
  height: 30rem;
  overflow: hidden;
  text-align: center;
  backdrop-filter: blur(10px);
}

.teamMemberCard img {
  height: 40%;
  width: 50%;
  object-fit: cover;
  border-radius: 5px;
}

.teamMemberCard .name {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 1rem 0;
}

.teamMemberCard .socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.teamMemberCard .socials a {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  text-decoration: none;
  color: #333;
  height: 2rem;
  font-size: 1rem;
  width: 50%;
}

.teamMemberCard .socials a img {
  width: 1.5rem;
  height: 1.5rem;
}

.teamMemberCard .socials a:first-child {
  color: #0e76a8;
  border: 1px solid #0e76a8;
}

.teamMemberCard .socials a:first-child img {
  margin-right: 1.5rem;
}

.teamMemberCard .socials a:last-child {
  color: #333;
  border: 1px solid #333;
}

.teamMemberCard .socials a:last-child img {
  margin-right: 0.1rem;
}
