@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

button {
  cursor: pointer;
  outline: none;
  border-radius: 0.5rem;
  background-color: #00921b;
  color: white;
  padding: 10px !important;
  font-size: 1.2rem;
  margin: 0.1rem;
}
